<div class="container mt-4">
  <div class="d-flex justify-content-center flex-wrap">
    <ng-container *ngFor="let p of products.items">
      <app-card
        *ngIf="p.page === currentPage"
        [title]="p.title"
        [price]="p.price"
        [description]="p.description"
        [page]="p.page"
      ></app-card>
    </ng-container>
  </div>

  <div class="d-flex justify-content-center flex-wrap mt-3">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li
          class="page-item"
          [ngClass]="{ disabled: currentPage === products.minPage }"
        >
          <a class="page-link" (click)="previousPage()" href="#">Previous</a>
        </li>

        <li
          class="page-item"
          href="#"
          *ngFor="let number of products.pageNums"
          [ngClass]="{ active: number === currentPage }"
        >
          <a class="page-link" href="#" (click)="changePage(number)">
            {{ number }}</a
          >
        </li>

        <li
          class="page-item"
          [ngClass]="{ disabled: currentPage === products.maxPage }"
        >
          <a class="page-link" href="#" (click)="nextPage()">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
